* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* considerar a borda como borda total*/
}

.content{
    padding: 1rem;
}

body{
    background-color: 	#DCDCDC;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

